import execute from '{{executePath}}';
{{#each files}}
import {{@key}} from '{{this}}';
{{/each}}

it('{{testName}}', () => {
  const files = {
    {{#each files}}
    {{@key}}{{#unless @last}},{{/unless}}
    {{/each}}
  };
  try {
    expect(execute(files)).toMatchSnapshot();
  } catch (error) {
    expect(error).toMatchSnapshot();
  }
});
