import execute from '{{executePath}}';
{{#each files}}
import {{@key}} from '{{this}}';
{{/each}}

it('{{testName}}', () => {
  const files = {
    {{#each files}}
    {{@key}}{{#unless @last}},{{/unless}}
    {{/each}}
  };
  expect(execute(files)).toMatchSnapshot();
});
