const execute = require('{{executePath}}');
{{#each files}}
const {{@key}} = require('{{this}}');
{{/each}}

const files = {
  {{#each files}}
  {{@key}}{{#unless @last}},{{/unless}}
  {{/each}}
};

it('{{testName}}', function () {
  try {
    expect(execute.default(files)).toMatchSnapshot();
  } catch (error) {
    expect(error).toMatchSnapshot();
  }
});
