import execute from '{{executePath}}';
import mainFile from '{{mainFile}}';
{{#each files}}
import {{@key}} from '{{this}}';
{{/each}}

const files = {
  {{#each files}}
  {{@key}}{{#unless @last}},{{/unless}}
  {{/each}}
};

it('{{testName}}', () => {
  try {
    expect(execute(mainFile, files)).toMatchSnapshot();
  } catch (error) {
    expect(error).toMatchSnapshot();
  }
});
